@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url(/src/assets/image.jpg);
}

@media only screen and (max-width: 900px) {
  .font {
    font-size: 14px;
  }
}

@media only screen and (max-width: 775px) {
  .small {
    font-size: 3rem;
  }
  .fs {
    font-size: 1.2rem;
  }
  .font {
    font-size: 12px;
  }
  .button {
    font-size: 12px;
    padding: 0.3rem;
  }
  .box-size {
    height: 80px;
  }
  .image {
    width: 80%;
  }
}

@media only screen and (max-width: 675px) {
  .small {
    font-size: 2.5rem;
    line-height: 50px;
  }
  .fs {
    font-size: 1rem;
  }
  .font {
    font-size: 10px;
  }
  .button {
    font-size: 12px;
    padding: 0.3rem;
  }
  .box-size {
    height: 80px;
  }
  .word-image {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .word {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (max-width: 420px) {
  .button-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    margin-top: 3rem;
  }
  .image {
    width: 75%;
  }
}
